<html>
<head>
    <title>My Javascript Code</title>
</head>
<body>
    <form class="toRomanForm" method="get" action="deromanize">
        <div>
            <p>Enter an integer to convert to Roman</p>
            <p>
                <label for="number">Integer :</label>
                <input type="number" id="number" autofocus>
            <p>
                <input type="submit" value="Envoyer">
            </p>
        </div>
    </form>

    <div id="result">
        <p></p>
    </div>

    <script src="/fetchConvertToRoman.js"></script>
</body>
</html>


